# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Fábio Silva\OneDrive - Instituto Superior de Engenharia do Porto\2º Semestre\LAPR\Projeto Final\lapr2-2020-g058\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
